:root {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    width: auto;
    color: cornflowerblue;
    font-size: 64px;
}

p {
    text-align: center;
}

.icon-holder {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    justify-content: center;
    gap: 2rem;
    
}

.individualIconBox {
    border: 2px solid white;
}