:root {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    width: auto;
    color: cornflowerblue;
    font-size: 64px;
}

p {
    text-align: center;
}

.icon-holder {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;
    gap: 2rem;
    
}

.individualIconBox {
    border: 2px solid white;
}

.tagHolder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    list-style-type: none;
}

.tagContainer {
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}